body {
    display: flex;
    justify-content: center;    /* Στοίχιση κατά πλάτος */
    align-items: center;        /* Στοίχιση κατά ύψος */
    height: 100vh;
    background-color: lightgray;
}

.kompiouteraki {
    width: 250px;
    height: 350px;  /* Αυξήσαμε το ύψος για να χωρέσουν όλα σωστά */
    background-color: navy;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
}

#text {
    width: 97%;
    height: 40px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 10px;
}

/* Ειδικά Σύμβολα */
.eidika_simvola {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    order: -1; /* Τα κρατάει πάντα πάνω */
}

#katharismos, #antitheto, #mod {
    width: 31%;
}

/* Σύμβολα (Πρέπει να φτάνουν στον πάτο) */
.simvola {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Απλώνει τα κουμπιά μέχρι κάτω */
    height: 100%; /* Καλύπτει όλο το ύψος */
}

/* Αριθμοί */
.arithmoi {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.arithmoi button {
    width: 30%;  /* Κάνει τους αριθμούς πιο ευθυγραμμισμένους */
    margin: 2px;
}

/* Ιστορικό */
#istoriko {
    width: 30px;
    height: 30px;
}

#istoriko img {
    width: 80%;
    height: auto;
    max-width: 40px;
}
